<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.IplogMapper">

	<resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.Iplog">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="TINYINT" />
		<result column="userType" property="userType" jdbcType="TINYINT" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="loginTime" property="loginTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into `iplog` (ip, state, userName,loginTime,userType)
		values (#{ip,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT},
		#{userName,jdbcType=VARCHAR},
		#{loginTime,jdbcType=TIMESTAMP}, #{userType})
	</insert>

	<sql id="base_column">
		id, ip, state, userName, loginTime, userType
	</sql>

	<sql id="base_where">
		<where>
			<if test="beginDate!=null">
				AND loginTime &gt;=#{beginDate}
			</if>
			<if test="endDate!=null">
				AND loginTime &lt;=#{endDate}
			</if>
			<if test="userType>-1">
			AND userType = #{userType}
			</if>
			<if test="state>-1">
			AND state = #{state}
			</if>
			<if test="username!=null">
				AND username =#{username}
			</if>
		</where>
	</sql>

	<select id="queryForCount" resultType="int">
		Select count(id)
		from iplog
		<include refid="base_where" />
	</select>
	
	<select id = "query" resultMap="BaseResultMap">
	select <include refid="base_column" />
	from iplog
	<include refid="base_where" />
	order by loginTime DESC
	limit #{start}, #{pageSize}
	</select>
</mapper>